<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>CounsellorServlet</display-name>
    <servlet-name>CounsellorServlet</servlet-name>
    <servlet-class>com.servlet.CounsellorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounsellorServlet</servlet-name>
    <url-pattern>/CounsellorServlet</url-pattern>
  </servlet-mapping>
  <display-name>WiseWords</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.servlet.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VieldServlet</display-name>
    <servlet-name>VieldServlet</servlet-name>
    <servlet-class>com.servlet.VieldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VieldServlet</servlet-name>
    <url-pattern>/VieldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FieldServlet</display-name>
    <servlet-name>FieldServlet</servlet-name>
    <servlet-class>com.servlet.FieldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FieldServlet</servlet-name>
    <url-pattern>/FieldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCounsellorServlet</display-name>
    <servlet-name>UpdateCounsellorServlet</servlet-name>
    <servlet-class>com.servlet.UpdateCounsellorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCounsellorServlet</servlet-name>
    <url-pattern>/UpdateCounsellorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexFieldServlet</display-name>
    <servlet-name>IndexFieldServlet</servlet-name>
    <servlet-class>com.servlet.IndexFieldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexFieldServlet</servlet-name>
    <url-pattern>/IndexFieldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CounsellorLoginServlet</display-name>
    <servlet-name>CounsellorLoginServlet</servlet-name>
    <servlet-class>com.servlet.CounsellorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounsellorLoginServlet</servlet-name>
    <url-pattern>/CounsellorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Photo</display-name>
    <servlet-name>Photo</servlet-name>
    <servlet-class>com.servlet.Photo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Photo</servlet-name>
    <url-pattern>/Photo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoUploadServlet</display-name>
    <servlet-name>PhotoUploadServlet</servlet-name>
    <servlet-class>com.servlet.PhotoUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoUploadServlet</servlet-name>
    <url-pattern>/PhotoUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CousellorLogOutServlet</display-name>
    <servlet-name>CousellorLogOutServlet</servlet-name>
    <servlet-class>com.servlet.CousellorLogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CousellorLogOutServlet</servlet-name>
    <url-pattern>/CousellorLogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleServlet</display-name>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>com.servlet.ScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/ScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.userservlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.userservlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogOutServlet</display-name>
    <servlet-name>UserLogOutServlet</servlet-name>
    <servlet-class>com.userservlet.UserLogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogOutServlet</servlet-name>
    <url-pattern>/UserLogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.userservlet.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>